 body {
    font: 12px sans-serif;
    background-color: #eef2f3 ;
  }
  
  .chart {
    background: #fff;
  }
  
  p {
    font: 14px helvetica;
  }
  
  p.footnote{
    font: 10px helvetica;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }

  ul{
  font: 14px helvetica; 
}
table, th, td {
    font: 14px helvetica;
    border: 1px solid black;
    border-collapse: collapse;
}
table.films td.profit {
  text-align: right;
}

table.film td.film_name{
  text-align: center;
  width:5000px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }




h1 {
  color: #222;
  font-family: Archivo Narrow, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 66px;
  margin-bottom: 0px;
  margin-top: 80px;
}

h1-two {
  color: #222;
  font-family: Archivo Narrow, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 45px;
  margin-bottom: 0px;
  margin-top: 80px;
}

h2 {
  color: #5e5e5e;
  font-family: Archivo Narrow, Arial, Helvetica, sans-serif;
  font-size: 28px;
  margin-top: 0px;
  margin-bottom: 24px;
}



chart-title-alex {
  color: #222;
  font-family: Archivo Narrow, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 25px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 30px;
}

axis-alex {
  color: #222;
  font-family: Archivo Narrow, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 30px;
}

.bodycopy {
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.linky-link {
  color: #44556b;
  font-family: Archivo Narrow, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 45px;
  margin-bottom: 0px;
  margin-top: 80px;
  text-align: center;
  display: block;
}

.byline {
  color: #5e5e5e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
<!--       letter-spacing: 2px; -->
  margin-top: 0px;
  margin-bottom: 60px;
}
.line {
  fill: none;
  stroke: #143966;
  stroke-width: 6px;
  /*opacity: 0.5;*/
}

/*    path:hover {
  stroke-width: 8px;
  opacity: 1.0;
}*/


.line--fade {
  opacity: 0.5;  
}
  
.line--hover {
  stroke-width: 12px;
  opacity: 1.0;
}

.title {
  fill: #484b4f;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 80;
}

.subtitle {
  fill: #797e84;

}

.y_axis_label text{
  fill: #484b4f;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/*#plot-div {
  background-color: white;
}*/

.footer {
  color: #878787;
}

hr.style5 {
  background-color: #fff;
  border-top: 2px dashed #8c8b8b;
}

.gradientBottom {
background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #8e9eab, #eef2f3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #8e9eab, #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}